
<div class="container">
<h1 class= "brand">La Prose</h1>

<p>La blonde qui replace l'art au centre de nos conversations</p>



<h3> le projet </h3>

<p>  Apporter une dimension artistique et culturelle aux terrasses de bruxelles au moyen d'une bière brassée avec passion.  </p>

<h3>concretement</h3>

<p>Nous voulons rassembler un portfolio d'artistes ayant un lien fort avec la Belgique et qui </p>
 <p> seraient désireux d'exposer un fragment de leur art sur une bouteille de bière.</p>
 </p>
 <p>
   Chaque biere exposerait donc une partie de l'oeuvre d'un artiste accompagné de quelques informations sur celui ci..
 </p>

 <h3>
   l'impact de cela
 </h3>

 <p>Un simple verre en terrasse permet à chacun de découvrir un artiste de son pays,une de ses oeuvres, une expo a visiter,.. </p>
</div>




